/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "roboto", "arial", "helvetica";
}

.appContainer {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.controls {
  width: 40%;
  height: 75%;
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#colorPicker {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: none;
}

button, input {
  cursor: pointer;
}

.buttonTools {
  margin: 40px;
  height: 75px;
  width: 300px;
  border: 1px solid #808080;
  border-radius: 10px;
}

#gridSize {
  margin: 0 auto;
  width: 50%;
}

.gridContainer {
  width: 750px;
  height: 750px;
  margin: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 1px solid #808080;
  background-color: #f0f0f0;
}

.gridSquare {
  /* border: 1px solid black; */
  border-top: 1px solid black;
  border-right: 1px solid black;
}

/* TODO */
label[for="gridSize"] {
  padding: 20px;
}
