/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "roboto", "arial", "helvetica";
}

.appContainer {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.controls {
  width: 40%;
  height: 75%;
  background-color: antiquewhite;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr repeat(3, 100px) 1fr;
  row-gap: 35px;
}

.gridContainer {
  width: 60%;
  height: 75%;
  background-color: aquamarine;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.gridSquare {
  
}

#colorPicker {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: none;
}

button {
  cursor: pointer;
}

.buttonTools {
  margin: 20px;
  border: none;
  border-radius: 10px;
}

#gridSize {
  margin: 0 auto;
  width: 75%;
}
